.form-field {
  margin: 12px 0;
  display: flex;
  width: 100%;
}

.form-field > input {
  flex-grow: 1;
}

.form-field > label,
.form-field--small > label {
  display: inline-block;
  width: 123px;
}

.form-field-inline-group {
  display: flex;
  gap: 42px;
}

.form-field--small {
  width: fit-content;
  margin-right: 12px;
}

fieldset {
  margin: 12px 0;
}

button {
  float: right;
}

.ng-valid.ng-dirty:not([ngModelGroup]):not(form) {
  border: 2px solid green;
}
.ng-invalid.ng-dirty:not([ngModelGroup]):not(form) {
  border: 2px solid red;
}

.error {
  align-self: center;
  font-size: 0.7rem;
  color: red;
  padding-left: 4px;
}

.info {
  align-self: center;
  font-size: 0.7rem;
  color: orange;
  padding-left: 4px;
}

.control-container {
  display: flex;
  gap: 8px;
}

.save {
  display: block;
  float: none;
  width: 100%;
  height: 32px;
  border-radius: 6px;
}

form.review {
  background-color: #dfdfdf;
  padding: 12px;
  border-radius: 10px;
}

.review-head {
  margin: 0;
}

button {
  margin-top: 16px;
  background-color: #ffc15a;
  border: #faa415 1px solid;
  color: #263238;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
button:active {
  background-color: #faa415;
  border: #ffc15a 1px solid;
}

.review-textarea {
  border-radius: 6px;
  background-color: white;
  padding: 0px 8px;
  margin-top: 8px;
  min-height: 74px;
  box-sizing: border-box;
}
.review-textarea h3 {
  margin-bottom: 8px;
  padding-top: 8px;
}
.review-textarea h3:empty:before {
  content: attr(data-placeholder);
  opacity: 0.6;
}
.review-textarea p:empty:before,
.review-textarea div:empty:before {
  content: attr(data-placeholder);
  opacity: 0.6;
}
