.form-field {
  margin: 12px 0;
  display: flex;
  width: 100%;
}

.form-field > input {
  flex-grow: 1;
}

.form-field > label,
.form-field--small > label {
  display: inline-block;
  width: 123px;
}

.form-field-inline-group {
  display: flex;
  gap: 42px;
}

.form-field--small {
  width: fit-content;
  margin-right: 12px;
}

fieldset {
  margin: 12px 0;
}

button {
  float: right;
}

.ng-valid.ng-dirty:not([ngModelGroup]):not(form) {
  border: 2px solid green;
}
.ng-invalid.ng-dirty:not([ngModelGroup]):not(form) {
  border: 2px solid red;
}

.error {
  align-self: center;
  font-size: 0.7rem;
  color: red;
  padding-left: 4px;
}

.info {
  align-self: center;
  font-size: 0.7rem;
  color: orange;
  padding-left: 4px;
}

.control-container {
  display: flex;
  gap: 8px;
}
